<mat-table #table [dataSource]="widget11.dataSource">

  <!-- Avatar Column -->
  <!--<ng-container cdkColumnDef="avatar">-->
    <!--<mat-header-cell fxFlex="64px" *cdkHeaderCellDef></mat-header-cell>-->
    <!--<mat-cell fxFlex="64px" *cdkCellDef="let contact">-->
      <!--<img class="avatar" *ngIf="contact.avatar" [alt]="contact.name"-->
           <!--[src]="contact.avatar"/>-->
    <!--</mat-cell>-->
  <!--</ng-container>-->

  <!-- Name Column -->
  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
    <mat-cell *cdkCellDef="let contact">
      <p class="text-truncate font-weight-600">{{contact.name}} </p>
    </mat-cell>
  </ng-container>

   Position Column
  <ng-container cdkColumnDef="position">
    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Position</mat-header-cell>
    <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm>
      <p class="position text-truncate">
        {{contact.position}}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Office Column -->
  <ng-container cdkColumnDef="office">
    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Office</mat-header-cell>
    <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-md>
      <p class="office text-truncate">
        {{contact.office}}
      </p>
    </mat-cell>
  </ng-container>


  <!-- Email Column -->
  <ng-container cdkColumnDef="email">
    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
    <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm>
      <p class="email text-truncate">
        {{contact.email}}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Phone Column -->
  <ng-container cdkColumnDef="phone">
    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Phone</mat-header-cell>
    <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-md>
      <p class="phone text-truncate">
        {{contact.phone}}
      </p>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let contact; columns: displayedColumns;"  (click)="select(contact)">
  </mat-row>
</mat-table>
